<ul class="pagination">
    {% if pager.isFirstPage %}
        <li class="first">&laquo;</li>
        <li class="previous">&lsaquo;</li>
    {% else %}
        <li class="previous">
            <a href="{{ ongr_paginate_path(route, pager.getPreviousPage, parameters) }}">&lsaquo;</a>
        </li>
    {% endif %}

    {% if pager.isFirstPage == false %}
        <li class="previous"><a href="{{ ongr_paginate_path(route, pager.getPreviousPage, parameters) }}">&lsaquo;</a></li>
    {% endif %}

    {% set previous = false %}

    {% for page in pager.getPages %}
        {% if previous and page > previous + 1 %}
            <li>
                <span>...</span>
            </li>
        {% endif %}

        <li class="{% if page == pager.getCurrentPage %}active{% endif %}">
            <a href="{{ ongr_paginate_path(route, page, parameters) }}">{{ page }}</a>
        </li>
        {% set previous = page %}
    {% endfor %}

    {% if pager.isLastPage %}
        <li class="next">&rsaquo;</li>
    {% else %}
        <li class="next"><a href="{{ ongr_paginate_path(route, pager.getNextPage, parameters) }}">&rsaquo;</a></li>
    {% endif %}
</ul>
